<!DOCTYPE html>
<html>
<head>
    <title>EduDebate - Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <h1>EduDebate</h1>
        <h3>Inscrivez-Vous</h3>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul style="color: red; list-style: none; padding: 0; text-align: center;">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form action="/register" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter your Username" required>
            
            <label for="statut">Status:</label>
            <select name="statut" id="statut">
                <option value="">Choisissez un statut</option>
                <option value="Professeur">Professeur</option>
                <option value="Eleve">Eleve</option>
            </select>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <div class="sub">
                <button type="submit">Submit</button>
            </div>
        </form>
        
        <p>Déjà Inscrit ?
            <a href="/login" style="text-decoration: none;">Connectez-vous</a>
        </p>
    </div>
</body>
</html>